
body {
    font-family: Arial, sans-serif;
}

#wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: palevioletred;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calculator {
    text-align: center;
}

h1 {
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

#bmi_result {
    margin-top: 20px;
    font-weight: bold;
}

#category_result {
    font-style: italic;
}
